  .footer {
    background-color:rgb(21, 215, 21);
    color: rgb(5, 5, 61);
    position: relative;
    justify-content: space-between;
    padding: 20px 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    bottom:1;
    display:fluid;
}